.salaries-list {
  list-style-type: none;
  margin-bottom: 8px;
}
.salary-list-cont {
  display: flex;
  margin-left: -35px;
}
.radio {
  margin-right: 20px;
  height: 20px;
  width: 15px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 567px) {
  .radio {
    height: 22px;
    width: 17px;
  }
}
